
# Code for AlphaClient
hostName=`hostname`
SSHEV=$SSH_CONNECTION
publicIPPort="13.82.52.17:3000"
APIEndpoint="http://$publicIPPort/push"

if [ "$SSHEV" == "" ]; then
    echo "SSH connection not found"
else
    echo "SSH connection found"
    curl --data "clientName=$hostName&sshCount=1" $APIEndpoint
fi